@import "./RepoContent/index.scss";
@import "./UserContent/index.scss";
@import "./SearchForm/index.scss";

.header {
  color: black;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  transition: margin-top 300ms ease-in-out;

  &--marginTop {
    margin-top: 250px;
  }
}

.layout {
  background-color: white;
  .layout__content {
    margin-top: 20px;
  }
}
